<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${cid}"></title>
  <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
</head>
<body>

<div id="app">
  <div>
    <h1 v-if="cid">欢迎: {{cid}}</h1>
    <h1 v-else>您的浏览器不支持WebSocket</h1>
  </div>
  <ul>
    <li v-for="msg in messages">{{msg}}</li>
  </ul>
  <div>
    <p>消息内容</p>
    <textarea v-model="info" id="" cols="30" rows="10"></textarea>
    <p>
      <button @click="sendAll">群发消息</button>
    </p>
    <p>
      <span>给</span>
      <input type="text" v-model="toCid"/>
      <button @click="sendOne">发送消息</button>
    </p>
  </div>
</div>

<script>
  const app = new Vue({
    el: '#app',
    data () {
      return {
        cid: [[${cid}]], // 获取控制器传来的值, 当前用户的cid
        port: [[${port}]],
        messages: [], // 要发送的消息
        info: '',
        toCid: '', // 接收用户的cid
      }
    },
    created () {
      if(typeof(WebSocket) === "undefined") {
        console.log("您的浏览器不支持WebSocket");
      } else {
        console.log("您的浏览器支持WebSocket");
console.log(this.port)
        let socket = new WebSocket(`ws://localhost:${this.port}/websocket/${this.cid}`)

        socket.onopen = function() {
          console.log("Socket 已打开")
        };

        socket.onmessage = msg => {
          console.log(msg.data)
          this.messages.push(msg.data)
        };

        socket.onclose = () => {
          console.log("Socket已关闭")
        };

        socket.onerror = () => {
          alert("Socket发生了错误")
        }
      }
    },
    methods: {
      sendAll () {
        axios
          .get(`/checkcenter/socket/push/${this.cid}?message=${this.info}`)
          .then((response) => {
            this.server = response.data
            this.info = ""
          })
      },
      sendOne () {
        axios
          .get(`/checkcenter/socket/push/${this.cid}/${this.toCid}?message=${this.info}`)
          .then((response) => {
            this.server = response.data
            this.info = ""
          })
      }
    }
  })
</script>
</body>
</html>