HELP.md
target/
!.mvn/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
spring-boot-hello/src/main/resources/static/
spring-boot-hello/src/main/resources/templates/
spring-boot-http/src/main/resources/static/
spring-boot-http/src/main/resources/templates/
